
body{
    background: blanchedalmond;
    margin-left:    200px;
    margin-right:   200px;
}
header{
    margin-top: 70px;
}

h1{
    color: red;
    font-family: fantasy;
}
h2{
    font-family: fantasy;
}
p{
    font-size: 18px;
    font-family: cursive;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}
.logo{
    width: 40px;
}